    html,
    body {
        font-family: Helvetica;
        font-size: 18px;
        margin: 0 auto;
        background-color: white;
    }

    /*HEADER*/

    header {
        background-color: black;
    }

        .company-name {
            max-width: 960px;
            max-height: 2.32rem;
            margin: auto;
            display: flex;
            align-items: center;
        }

            .logo img {
                height: 1.5rem;
                margin-left: 0.5rem;
                margin-right: 1rem;
            }

            .title {
                color: white;
                font-size: 1rem;
            }

    /*MAIN BANNER WITH IMAGE*/

    .main-banner {
        background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 25em;
    }

        .banner {
            max-width: 960px;
            margin: 0 auto;
        }

            .headline {
                background-color: black;
                color: white;
                width: 20em;
                padding: 2em 3em;
                position: relative;
                top: 9em;
            }
    /*NAVBAR*/

    nav {
        background-color: firebrick;
        color: white;
    }
        .navbar-menu {
            max-width: 960px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.75rem 0;
        }
        
        .menu-mobile span{
            display: none;
        }

    /*MAIN CONTENT*/
    /*max e min width per responsive !!!*/
        .contents {
            max-width: 960px;
            min-width: 320px;
            margin: 0 auto;
        }

        /*PRODUCTS*/

        .products {
            margin: 3rem auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

            .product {
                width: 30%;
            }

            .product-image {
                border: 4px solid black;
                padding: 2em 0;
                height: 9em;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .product-image img {
                    max-width: 8em;
                }

            .product span {
                display: block;
                background-color: black;
                color: white;
                text-align: center;
                padding: 0.5em;
            }

        /*LOCATION AND HOURS*/
        
        .other-info {
            display: flex;
            justify-content: space-between;
            margin: 3em 0 0 0;   
        }

            .location-hours {
                width: 35%;
            }

                .location-hours span{
                    display: block;
                    background-color: black;
                    color: white;
                    text-align: left;
                    padding: 1rem 2rem;
                }

                p {
                    margin: 0.3rem auto;
                }
            
    /*FOOTER*/

    footer {
        background-color: black;
        width: auto;
    }

        .footer {
            max-width: 960px;
            min-width: 320px;
            padding: 5rem;
            margin: 4rem auto 0 auto;
            display: flex;
            color: white;
            text-align: left;
        }
        


/*MEDIA QUERY*/

/* 1024PX ipad landscape*/

@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape){
    body {
        font-size: 16px;
    }

    .navbar-menu {
        display: none;
    }

    .menu-mobile span {
        width: 100%;
        display: block;
        text-align: center;
        margin: 0 auto;
        padding: 0.75rem 0;
    }

    .product {
        width: 47%;
    }

    #glasses {
            display: none;
        }
}

/* 768PX ipad portrait*/

@media only screen and (min-width: 471px) and (max-width: 768px)    {

    .navbar-menu {
        display: none;
    }

    .menu-mobile span {
        width: 100%;
        display: block;
        text-align: center;
        margin: 0 auto;
        padding: 0.75rem 0;
    }

    .product {
        width: 47%;
    }

    #glasses {
            display: none;
        }
}

/* 470PX iphone */
@media only screen and (max-width: 470px) {

    .main-banner {
        height: 15rem;
    }

    .headline {
        top: 9.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

        .headline h4 {
            font-size: 0.77rem;
        }

        .headline h1 {
            font-size: 1rem;
        }
    
    .navbar-menu {
        display: none;
    }
    
    .menu-mobile span {
        width: 100%;
        display: block;
        text-align: center;
        margin: 0 auto;
        padding: 0.75rem 0;
        }
    
    .product {
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }
        
        #watch {
            display: none;
        }

        #glasses {
            display: none;
        }
    
    .other-info {
        flex-wrap: wrap;
    }
        .location-hours {
            width: 90%;
            margin: 0.5em auto;
        }
    
    footer {
        text-align: center;
    }
}

/* 320PX iphone portrait*/
media only screen and (max-width: 470px){

    .main-banner {
        height: 15rem;
    }

    .banner {
        width: 100%;
    }

    .headline {
        top: 9.5rem;
        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

        .headline h4 {
            font-size: 0.77rem;
        }

        .headline h1 {
            font-size: 1rem;
        }
    
    
    .product {
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }
        
        #watch {
            display: none;
        }

        #glasses {
            display: none;
        }
    
    .other-info {
        flex-wrap: wrap;
    }
        .location-hours {
            width: 90%;
            margin: 0.5em auto;
        }
    
    footer {
        text-align: center;
    }
}


